cabal-dev/
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*~
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
dist/
.DS_Store
presentation
icons/
stl/
drive_contents.json
.stack-work/
html/Main_compressed.js
Importer/testData/geospecies.nt
Importer/*.csv
