
basic
$roles  : #66c3bf;
$goals  : #976dc9;
$modes  : #cf7478;
$attitud: #acd47b;
$center : #b2da83;
$feature: #dadc99;
$age    : #b592da;

roles
$color1: #338e90;
$color2: #3ca9ac;
$color3: #4bbec1;
$color4: #66c8cb;
$color5: #80d3d5;
$color6: #9bdddf;
$color7: #b6e6e8;
goals
$color1: #603594;
$color2: #723db0;
$color3: #844fc3;
$color4: #9769cd;
$color5: #aa84d6;
$color6: #bd9fe0;
$color7: #d0bae9;
modes
$color1: #9d389e;
$color2: #b841b9;
$color3: #c559c6;
$color4: #cf73d0;
$color5: #d98eda;
$color6: #e3a9e3;
$color7: #ecc4ec;
attitudes
$color1: #75aa3d;
$color2: #88c04b;
$color3: #99ca65;
$color4: #abd480;
$color5: #bdde9a;
$color6: #cfe7b6;
$color7: #e1f0d1;
center
$color1: #79bc43;
$color2: #8cc65d;
$color3: #9fd077;
$color4: #b2da92;
$color5: #c5e4ad;
$color6: #d9edc8;
$color7: #ecf6e3;
feature
$color1: #bbbc43;
$color2: #c5c65d;
$color3: #d0d077;
$color4: #dada92;
$color5: #e3e4ad;
$color6: #ededc8;
$color7: #f6f6e3;
age
$color1: #7e43bc;
$color2: #915dc6;
$color3: #a377d0;
$color4: #b592da;
$color5: #c8ade4;
$color6: #dac8ed;
$color7: #ede3f6;
